@import "tailwindcss";

@theme {
  --color-primary: #dc2626;
  --color-surface: #0a0a0a;
  --color-surface-light: #171717;
  
  --font-display: "Outfit", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-surface text-white selection:bg-primary selection:text-white;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}

.text-balance {
  text-wrap: balance;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
